<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AssignmentOne.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFAE68DA29C2D79E008A4C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFAE68EA29C2D79F008A4C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFAE68F429C2D7A0008A4C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
